<!DOCTYPE html>
<html>
<head>
  <title>Big Human Test</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>
  <div id="app">
    <!-- This message should only appear if JavaScript/Vue is not available -->
    <h1 v-if="false">Please enable JavaScript to use this site.</h1>
    <div v-if="errorMessage" id="error-container" v-cloak>
      <h1 v-text="errorMessage"></h1>
      <button class="btn" v-on:click="closeError">Close Error</button>
    </div>

    <h1 id="main-header" v-text="headerText" v-cloak></h1>
    <div id="container" v-cloak>
      <template v-if="loggedIn">
        <h2>
          Welcome {{name}},<br>
          your email is {{email}}
        </h2>
        <a href="/users" v-if="isAdmin">See all users</a>
        <button id="btn-log-out" v-on:click="logout">Log Out</button>
      </template>
      <template v-else> <!-- Logged out -->
        <simple-form
          class="simple-form"
          v-bind="dataProps"
          v-on:simple-submit="signUpOrIn"
        ></simple-form>
        <button
          id="btn-form-toggle"
          v-text="loggedOutButtonText"
          v-on:click="toggleLoggedOutForm"
        ></button>
      </template>
    </div>
  </div>
  <script src="//vuejs.org/js/vue.js"></script>
  <script src="//unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/components/SimpleForm.js"></script>
  <script src="/index.js"></script>
</body>
</html>
