@dark-purple: rgb(74, 44, 74);

html, body {
	height: 100%;
	margin: 0;
}

body {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	background-color: @dark-purple;
}

[v-cloak] {
	display: none;
}

#app {
	height: 80%;
	width: 80%;
	max-width: 750px;

	#error-container {
		color: red;
	}

	.btn {
		height: 40px;
		width: 90%;
		border-radius: 5px;
	}

	#main-header {
		margin: 1px auto 15px;
		color: white;
		font-size: 4em;
		font-family: serif;
	}

	#container {
		padding: 30px;
		background-color: white;
		color: gray;
	}

	.simple-form-input {
		width: 90%;
		margin-bottom: 10%;
		border: none;
		border-bottom: 1px solid green;
		text-align: center;
		font-size: 2em;
		font-weight: bold;
	}

	.btn-simple-form-submit, #btn-log-out, #btn-form-toggle {
		.btn;
		background-color: navy;
		color: white;
		font-size: 1em;
	}

	.btn-simple-form-submit {
		margin: 5% auto;
	}
}

